---
import "../css/styles.css";
import Header from "../components/Header.astro";
import Sidenav from "../components/Sidenav.astro";
import Shelf from "../components/Shelf.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

    
<MainLayout title="Spotify - Search">
    <div>
        <Sidenav/>
    </div>

    <div>
        <div class="headerbox2">
            <Header searchbar ={true}/>
          </div>

   <section class="browseall">
    <Shelf name="Browse all">
        
        <section class="grid_5">
    <Card img = "https://picsum.photos/id/65/150/150"  header ="Podcast" />
    <Card img = "https://picsum.photos/id/334/150/150" header ="Made For You"  neW = {true}/>
    <Card img = "https://picsum.photos/id/65/150/150"  header ="Charts" />
    <Card img = "https://picsum.photos/id/334/150/150" header ="New Releases" />
    <Card img = "https://picsum.photos/id/65/150/150" header ="Discover" neW = {true}/>

    <Card img = "https://picsum.photos/id/334/150/150" header ="Live Events" neW = {true} />
    <Card img = "https://picsum.photos/id/65/150/150" header ="New Releases" neW = {true}/>
    <Card img = "https://picsum.photos/id/334/150/150" header ="Pop" />
    <Card img = "https://picsum.photos/id/65/150/150" header ="Summer" />
    <Card img = "https://picsum.photos/id/334/150/150" header ="Party" />

    <Card img = "https://picsum.photos/id/65/150/150" header ="Hip-Hop" neW = {true} />
    <Card img = "https://picsum.photos/id/334/150/150" header ="EQUAL" />
    <Card img = "https://picsum.photos/id/65/150/150" header ="Chill" />
    <Card img = "https://picsum.photos/id/334/150/150" header ="Workout" neW = {true}/>
    <Card img = "https://picsum.photos/id/65/150/150" header ="Rock" />

    <Card img = "https://picsum.photos/id/334/150/150" header ="At Home"  />
    <Card img = "https://picsum.photos/id/65/150/150" header ="Focus" neW = {true}/>
    <Card img = "https://picsum.photos/id/334/150/150" header ="Mood" />
    <Card img = "https://picsum.photos/id/65/150/150" header ="Pride"neW = {true} />
    <Card img = "https://picsum.photos/id/334/150/150" header ="Higher Ground" />
    </Shelf>
   </section>
</section>
</div>
</MainLayout>


<style>

</style>